<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sparrow</title>
  <link href="/public/css/app.css" rel="stylesheet" >
</head>
<body>
  <img src='/public/assets/sparrow.png' />
  <h1>Sparrow</h1>
</body>
</html>